body{
    margin: 0;
}
.box{
    width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 20px;

    position: absolute;
}
div{
    /* 
        animation-name: up-down;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite; 
        animation-delay: 1s; 
    */
    animation: motion-squre 6s ease-in-out infinite 1s;
}
@keyframes motion-squre {
    0%,100%{
        /* transform: translateX(0); */
        top: 0;
        left: 0;
    }
    12.5%{
        /* transform: translateX(200px); */
        background-color: yellow;
        
        top: 0;
        left: calc(100% - 200px);

        transform: rotate(180deg);
    }
    25%{
        /* transform: translateX(200px) translateY(200px);  */
        background-color: rgb(255, 0, 0);
        

        top: calc(100% - 100px);
        left: calc(100% - 200px);

        transform: rotate(360deg);
    }
    37.5%{
        /* transform: translateX(0) translateY(200px);  */
        background-color: rgb(255, 0, 225);
       

        top: calc(100% - 100px);
        left: 0;

        transform: rotate(180deg);
    }
    50%{
        /* transform: translateX(0);  */
        background-color: rgb(255, 115, 0);
       

        top: 0;
        left: 0;

        transform: rotate(360deg);
    }
    62.5%{
        /* transform: translateX(0) translateY(200px);  */
        background-color: rgb(255, 0, 225);
       

        top: calc(100% - 100px);
        left: 0;

        transform: rotate(180deg);
    }
    75%{
        /* transform: translateX(200px) translateY(200px);  */
        background-color: rgb(255, 0, 0);
       

        top: calc(100% - 100px);
        left: calc(100% - 200px);

        transform: rotate(360deg);
    }
    87.5%{
        /* transform: translateX(200px); */
        background-color: yellow;
       

        top: 0;
        left: calc(100% - 200px);

        transform: rotate(180deg);
    }
    
}